<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>

        <title>Error</title>

</head>

<body>
    <h1>404 not found</h1>
    <p>Helaas, pagina werkt niet! </p>
</body>

</html>