<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <title>Overview</title>
</head>

<body>
    <header>

    </header>
    <main class="error404">
        <section>
            <img src="images/brokenheart.svg" alt="">
            <h1>No matches.</h1>
            <h2>404 Error.</h2>
            <p>We cant find the page you're looking for.</p>
            <a href="/">Back To Swiping</a>
        </section>
    </main>
    <footer>
        <p> &COPY; Jorrr</p>
    </footer>
</body>

</html>