<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Home</title>
</head>

<body>
    <header>
        <h1>Swiper</h1>
    </header>

    <main>
        <section>
            <a href="profile">
                <img src="images/user1.png" alt="">
                <article>
                    <h2>
                        people.name
                    </h2>
                    <h3>Role</h3>
                    <form action="/">
                        <button name="dislike" class="dislike"><img src=" images/dislike.svg " alt="dislike person "></button>
                        <button name="like" class="like"><img src="images/like.svg" alt="liking person"></button>
                    </form>
                </article>
            </a>
        </section>
    </main>

    <footer>
        <%- include ("partials/footernav-home.ejs") %>
    </footer>
    <script src="scripts/script.js"></script>
</body>

</html>