<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Profile</title>
</head>

<body>
    <header>
        <%- include ("partials/navigation.ejs") %>
    </header>

    <main>
        <%- include ("partials/form.ejs") %>
    </main>

    <footer>
        <%- include ("partials/footer.ejs") %>
    </footer>
</body>

</html>