<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head.ejs") %>
    <title>Home</title>
  </head>

  <body class="inlog">
    <header>
      <h1>Swiper</h1>
    </header>
    <main>
      <form action="/login" method="POST">
        <label for="name">Your name:</label>
        <div>
          <select name="user" id="user">
            <% for (let i=0; i < users.length;i++) { %>
            <option value="<%= users[i].name %>"><%= users[i].name%></option>
            <% } %>
          </select>
        </div>
        <input type="submit" />
      </form>
    </main>
    <script src="scripts/client.js"></script>
  </body>
</html>
