<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Home</title>
</head>

<body class="inlog">
    <header>
        <h1>Swiper</h1>
    </header>
    <main>
        <form action="/" method="POST">
            <!-- <input type="hidden" name="Jordy Fronik" value="99999" /> -->
            <label for="name">Your name:</label>
            <div>
                <select name="user" id="">
                    <option value="">--Please choose an user</option>
                    <option value="Jordy Fronik">Jordy Fronik</option>
                    <option value="Romy">Romy</option>
                    <option value="Michella">Michella</option>
                </select>

            </div>
            <input type="submit" /></form>
    </main>
</body>

</html>