<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head.ejs") %>
    <title>Match</title>
  </head>

  <body class="match">
    <header></header>

    <main>
      <section>
        <picture>
          <source
            srcset="images/users/<%= users.photo %>.jpg"
            media="(min-width: 800px)"
            alt="Profile picture of user"
          />
          <img src="images/users/<%= users.photo %>min.jpg" />
        </picture>
        <picture>
          <source srcset="images/users/me.jpg" media="(min-width: 800px)" alt="Profile picture of user" />
          <img src="images/users/memin.jpg" />
        </picture>
        <img src="images/matchheart.svg" alt="" />
      </section>
      <section>
        <h1>It's a match!</h1>
        <h2>You and <%= users.name %> have liked each other.</h2>
        <a href="matchlist"> Send Message </a>
        <a href="/"> Keep Swiping </a>
        <div id="matchText"></div>
      </section>
    </main>
    <script src="scripts/index.js"></script>
  </body>
</html>
