<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Match-List</title>
</head>

<body>
    <header>
        <%- include ("partials/navigation.ejs") %>
    </header>

    <main class="matchlist">
        <article>
            <figure>
                <img src="images/user1round.png" alt="">
            </figure>
            <figcaption>
                <h2>{{Person, age}}</h2>
                <p>You've got a match, lets talk!</p>
            </figcaption>
        </article>
        <div></div>
        <article>
            <figure>
                <img src="images/user2round.png" alt="">
            </figure>
            <figcaption>
                <h2>{{Person, age}}</h2>
                <p>You've got a match, lets talk!</p>
            </figcaption>
        </article>
        <div></div>
        <article>
            <figure>
                <img src="images/user3round.png" alt="">
            </figure>
            <figcaption>
                <h2>{{Person, age}}</h2>
                <p>You've got a match, lets talk!</p>
            </figcaption>
        </article>
        <div></div>
    </main>
    <footer>
        <p> &COPY; Jorrr</p>
    </footer>
</body>

</html>