<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Match-List</title>
</head>

<body class="matchlist">
    <header>
        <h1>Swiper</h1>
    </header>

    <main>
        <article>
            <figure>
                <img src="images/user1round.png" alt="">
            </figure>
            <figcaption>
                <h2>
                    Hello
                </h2>
                <p>You've got a match, lets talk!</p>
            </figcaption>
        </article>
        <div></div>
        <article>
            <figure>
                <img src="images/user2round.png" alt="">
            </figure>
            <figcaption>
                <h2>
                    Hello
                </h2>
                <p>You've got a match, lets talk!</p>
            </figcaption>
        </article>
        <div></div>
        <article>
            <figure>
                <img src="images/user3round.png" alt="">
            </figure>
            <figcaption>
                <h2>
                    Hello
                </h2>
                <p>You've got a match, lets talk!</p>
            </figcaption>
        </article>
        <div></div>
    </main>
    <footer>
        <%- include ("partials/footernav-matches.ejs") %>
    </footer>
</body>

</html>