<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Match</title>
</head>

<body class="match">
    <header>

    </header>

    <main>
        <% let currentPerson = users.length - 1; %>

            <section>
                <img src="images/users/<%= users[currentPerson].photo %>" alt="Profile picture of user">
                <img src="images/me.png" alt="">
                <img src="images/matchheart.svg" alt="">
            </section>
            <section>
                <h1>It's a match!</h1>
                <h2>You and
                    <%= users[currentPerson].name %> have liked each other.
                </h2>
                <a href="matchlist"> Send Message </a>
                <a href="/"> Keep Swiping </a>
            </section>
    </main>
    <script src="scripts/script.js"></script>

</body>

</html>