<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Profile</title>
</head>

<body>
    <header>
    </header>
    <main class="profile">
        <div></div>
        <div></div>
        <section>
            <a href="/">
                <img src="images/user1.jpg" alt="">
            </a>
            <section>
                <h2>{{Person, age}}</h2>
                <h3>{{Werk}}}</h3>
                <article>
                    <img src="images/user1.jpg" alt="">
                    <img src="images/user1.jpg" alt="">
                    <img src="images/user1.jpg" alt="">
                </article>
                <h4>Hobby's</h4>
                <p>Fitness, Reizen, Bakken</p>
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio neque enim facilisi eu nunc in amet, vestibulum. Fames posuere at rhoncus neque ultricies ante senectus.</p>
            </section>
        </section>
    </main>
    <footer>
        <p> &COPY; Jorrr</p>
    </footer>
</body>

</html>