<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Home</title>
</head>

<body class="profiel">
    <header>
        <h1>Swiper</h1>
    </header>
    <main>
        <h2>
            Welcome
            <%= users %>!
        </h2>
    </main>
    <footer>
        <%- include ("partials/footernav-profile.ejs") %>
    </footer>
</body>

</html>