<nav>
    <ul>
        <li> <a href="index">home</a> </li>
        <li> <a href="matches">matches</a> </li>
        <li> <a href="matchlist">matchlist</a> </li>
        <li> <a href="profile">profile</a> </li>
    </ul>
</nav>