<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/icon.png">

    <title>Overview</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#"><img src="images/settings.svg" alt=""></a>
                </li>
                <li>
                    <a href="index.ejs">
                        <h1>Swiper</h1>
                    </a>
                </li>
                <li>
                    <a href="matchlist.ejs"><img src="images/chats.svg" alt=""></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Overview pagina -->
        <section>
            <a href="profile.ejs">
                <figure>
                    <img src="images/user1.jpg" alt="">
                    <figcaption>
                        <h2>{{person, age}}</h2>
                        <h3>{{Work}}</h3>
                    </figcaption>
                </figure>
            </a>
        </section>
        <section>
            <button><img src="images/dislike.svg" alt=""></button>
            <button onclick="location.href='match'"><img src="images/like.svg" alt=""></button>
            <button><img src="images/share.svg " alt=" "></button>
        </section>
    </main>
    <footer>
        <p> &COPY; Jorrr</p>
    </footer>
</body>

</html>