<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Match</title>
</head>

<body>
    <header>

    </header>

    <main class="match">
        <section>
            <img src="images/user1.jpg" alt="">
            <img src="images/me.jpg" alt="">
            <img src="images/matchheart.svg" alt="">
        </section>
        <section>
            <h1>It's a match!</h1>
            <h2>You and {{person}} have liked each other.</h2>
            <a href="matchlist.ejs"> Send Message </a>
            <a href="index.ejs"> Keep Swiping </a>
        </section>
    </main>

    <footer>
        <p> &COPY; Jorrr</p>
    </footer>
</body>

</html>