<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Overview</title>
</head>

<body>
    <header>
        <%- include ("partials/nav.ejs") %>
            <h1>Like nu!</h1>
    </header>
    <main>
        <section>
            <h2>Dit is een mensje</h2>
        </section>
    </main>
    <footer>
        <p>&COPY; Jordy Fronik</p>
    </footer>
</body>

</html>