*,
html {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* global */

header h1 {
    font-size: 2em;
    text-align: center;
    margin: 0.5em;
    color: #4E50B8;
}


/* main */


/* .background {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
} */

figure {
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}

figure img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 75vh;
}

figure figcaption {
    background-color: white;
    width: 90%;
    margin: 0em 1em 1em 1em;
    position: absolute;
    top: 52vh;
    min-width: top;
    padding: 1em;
    border-radius: 10px;
}

figure figcaption h2 {
    font-size: 24px;
}

figure figcaption h3 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0.5em;
}

figure figcaption form {
    display: flex;
    justify-content: space-between;
}

figure figcaption form button {
    width: 45%;
    height: 40px;
    background-color: #D4D4D4;
    border: none;
    border-radius: 7px;
}

figure figcaption form button:nth-of-type(2) {
    background-color: #EB4B71;
}

figure figcaption form button img {
    width: auto;
    height: 24px;
}


/* footer */

footer {
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 65px;
    width: 100%;
    background-color: white;
}

footer nav ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

footer nav ul li {
    list-style-type: none;
}


/***********************************
            Profiel pagina 
***********************************/

.profile {
    margin: 0;
}

.profile section {
    width: 100%;
}

.profile section:nth-of-type(1) img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    border-radius: 0;
    position: relative;
}

.profile section:nth-of-type(1) div {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 50em;
    width: 100vw;
    background-image: linear-gradient(to top, rgba(78, 80, 184, 1), rgba(78, 80, 184, .1));
}

.profile section:nth-of-type(1) div:nth-of-type(2) {
    position: absolute;
    z-index: 1;
    top: 100vh;
    height: 15em;
    background-color: #4E50B8;
}

.profile section:nth-of-type(2) {
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
}

.profile section:nth-of-type(2) article h2 {
    margin-top: 1em;
    font-size: 1.5em;
}

.profile section:nth-of-type(2) article h3 {
    font-size: 1em;
    margin: 1em 0em 1.25em 0em;
}

.profile section:nth-of-type(2) article h4 {
    font-size: 1.25em;
    margin: 1em 0em 0.25em 0em;
}

.profile section:nth-of-type(2) article section {
    display: flex;
}

.profile section:nth-of-type(2) article section img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile section:nth-of-type(2) article form {
    margin: 1em 0em 0em 0em;
}


/******************************
        Match pagina 
******************************/

.match {
    background-image: none;
    background-color: #4E50B8;
    width: 100vw;
    height: 100vh;
    color: white;
}

.match section:nth-of-type(1) {
    width: 80vw;
    padding: 0vh 10vw;
    display: flex;
    height: 17em;
}

.match section:nth-of-type(1) img {
    width: 130px;
    height: auto;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.match section:nth-of-type(1) img:nth-of-type(1) {
    transform: rotate(25deg);
    border-radius: 5px;
    left: 8em;
    top: 2.5em;
}

.match section:nth-of-type(1) img:nth-of-type(2) {
    transform: rotate(-25deg);
    left: 2em;
    top: 6em;
    width: 80px;
    height: auto;
}

.match section:nth-of-type(1) img:nth-of-type(3) {
    transform: rotate(2deg);
    top: 9em;
    left: 4em;
}

.match section:nth-of-type(2) {
    display: block;
    width: 100vw;
    text-align: center;
    margin-top: 3em;
}

.match section h1 {
    font-size: 2em;
}

.match section h2 {
    width: 70%;
    margin: 0 auto;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 400;
}

.match section a {
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #EF6A52;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 1em 0em;
    border-radius: 5px;
}

.match section a:nth-of-type(1) {
    margin-top: 4em;
}

.match section a:nth-of-type(2) {
    margin-top: 1.25em;
    background-color: #8182C8;
}


/******************************
        Match pagina 
******************************/

.matchlist header {
    margin-bottom: 2em;
}

.matchlist article {
    display: flex;
    width: 90vw;
    /* margin: 0vw 5vw; */
    margin-top: 1em;
}

.matchlist article figure {
    width: 100px;
}

.matchlist article figure img {
    width: 100px;
    height: 100px;
}

.matchlist article figcaption {
    margin-left: 1em;
    width: 60%;
}

.matchlist div {
    width: 90vw;
    margin: 0vw 5vw;
    height: 2px;
    border-radius: 1px;
    background-color: grey;
    opacity: .3;
    margin-top: 1em;
}


/******************************
        404 pagina 
******************************/

.error404 section {
    width: 100%;
    text-align: center;
    margin-top: 5em;
}

.error404 section img {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.error404 section h1 {
    font-size: 2em;
    margin-top: 2em;
}

.error404 section h2 {
    font-size: 1.5rem;
    color: #878787;
    margin-bottom: 1.5em;
}

.error404 section p {
    margin: 0vh 15vw;
    margin-bottom: 3em;
}

.error404 section a {
    width: 70vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #EF6A52;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 1em 0em;
    border-radius: 5px;
}


/******************************
        empty- pagina 
******************************/

.emptymatchlist section {
    text-align: center;
}

.emptymatchlist section h1 {
    font-size: 2rem;
    margin-top: 10rem;
}

.emptymatchlist section p {
    margin: 0vh 15vw;
    margin: 3rem;
}

.emptymatchlist section a {
    width: 70vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #EF6A52;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 1rem 0rem;
    border-radius: 5px;
}