*,
html {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}

body {
    background: url('../images/background.png')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* header */

header h1 {
    font-size: 2em;
    text-align: center;
    margin: 0.5em;
    color: #4E50B8;
}


/* main */

a {
    text-decoration: none;
    background-color: none;
}

p {
    padding: 0em 3em;
    height: 80vh;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

main ul li {
    position: absolute;
}

figure {
    width: 90%;
    height: 75vh;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}

figure img {
    object-fit: cover;
    height: 75vh;
    border-radius: 10px;
    width: 100%;
}

figure figcaption {
    background-color: white;
    width: 90%;
    margin: 0em 1em 1em 1em;
    position: absolute;
    top: 52vh;
    min-width: top;
    padding: 1em;
    border-radius: 10px;
}

figure figcaption h2 {
    font-size: 24px;
}

figure figcaption h3 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0.5em;
}

figure figcaption form {
    display: flex;
    justify-content: space-between;
}

figure figcaption form button {
    width: 45%;
    height: 40px;
    background-color: #D4D4D4;
    border: none;
    border-radius: 7px;
}

figure figcaption form button:nth-of-type(2) {
    background-color: #EB4B71;
}

figure figcaption form button img {
    width: auto;
    height: 24px;
}

input[type=submit] {
    text-decoration: none;
    padding: .6em 4em;
    /* width: 5em;
    height: 40px; */
    background-color: #D4D4D4;
    border: none;
    border-radius: 7px;
}

input:nth-of-type(2)[type=submit] {
    background-color: #EB4B71;
}

.fa-input {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 65px;
    width: 100%;
    background-color: white;
}

footer nav ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

footer nav ul li {
    list-style-type: none;
}


/***********************************
            Profiel pagina 
***********************************/

.profile {
    margin: 0;
}

.profile ul {
    position: absolute;
    z-index: 5;
    width: 90%;
    margin: 5% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
}

.profile ul li {
    list-style-type: none;
}

.profile section {
    width: 100%;
}

.profile section:nth-of-type(1) {
    background-color: hotpink;
}

.profile section:nth-of-type(1) img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    border-radius: 0;
    position: relative;
}

.profile section:nth-of-type(1) div {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 50em;
    width: 100vw;
    background-image: linear-gradient(to top, rgba(78, 80, 184, 1), rgba(78, 80, 184, .1));
}

.profile section:nth-of-type(1) div:nth-of-type(2) {
    position: absolute;
    z-index: 1;
    top: 100vh;
    height: 18em;
    background-color: #4E50B8;
}

.profile section:nth-of-type(2) {
    width: 90%;
    margin: 0% 5%;
    padding: 5%;
    background-color: white;
    position: absolute;
    z-index: 3;
    top: 25em;
    border-radius: 15px 15px 15px 15px;
}

.profile section:nth-of-type(2) article h2 {
    margin-top: 1em;
    font-size: 1.5em;
}

.profile section:nth-of-type(2) article h3 {
    font-size: 1em;
    margin: 1em 0em 1.25em 0em;
}

.profile section:nth-of-type(2) article h4 {
    font-size: 1.25em;
    margin: 1em 0em 0.25em 0em;
}

.profile section:nth-of-type(2) article div {
    display: flex;
}

.profile section:nth-of-type(2) article div img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile section:nth-of-type(2) article form {
    margin: 1em 0em 0em 0em;
}

.profile section:nth-of-type(2) article form {
    display: flex;
    justify-content: space-between;
}

.profile section:nth-of-type(2) article form button {
    width: 45%;
    height: 40px;
    background-color: #D4D4D4;
    border: none;
    border-radius: 7px;
}

.profile section:nth-of-type(2) article form button:nth-of-type(2) {
    background-color: #EB4B71;
}

.profile section:nth-of-type(2) article form button img {
    width: auto;
    height: 24px;
}


/******************************
        Match pagina 
******************************/

.match {
    background-image: none;
    background-color: #4E50B8;
    width: 100vw;
    height: 100vh;
}

.match section:nth-of-type(1) {
    width: 80%;
    margin: 0% 10%;
    display: flex;
    height: 17em;
}

.match section:nth-of-type(1) img {
    width: 40%;
    max-width: 10em;
    height: auto;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


/* foto van match */

.match section:nth-of-type(1) img:nth-of-type(1) {
    transform: rotate(25deg);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    top: 3em;
    left: 0;
    right: 0;
    margin-right: 5em;
}


/* foto van jou */

.match section:nth-of-type(1) img:nth-of-type(2) {
    transform: rotate(-25deg);
    top: 6em;
    width: 30%;
    max-width: 7em;
    height: auto;
    margin-left: 5em;
}


/* foto van hart */

.match section:nth-of-type(1) img:nth-of-type(3) {
    transform: rotate(2deg);
    top: 11em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.match section:nth-of-type(2) {
    display: block;
    width: 100vw;
    text-align: center;
    margin-top: 6vh;
}

.match section h1 {
    font-size: 2em;
    color: white;
}

.match section h2 {
    color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 400;
}

.match section a {
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #EF6A52;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 1em 0em;
    border-radius: 5px;
}

.match section a:nth-of-type(1) {
    margin-top: 5vh;
}

.match section a:nth-of-type(2) {
    margin-top: 1.25em;
    background-color: #8182C8;
}


/******************************
        Match pagina 
******************************/

.matchlist p {
    padding: 0;
    height: 1em;
    text-align: left;
    display: block;
}

.matchlist header {
    margin-bottom: 2em;
}

.matchlist main {
    height: 100%;
}

.matchlist main ul li {
    /* display: block; */
    position: relative;
}

.matchlist article {
    /* background-color: hotpink; */
    display: flex;
    width: 90vw;
    margin: 0vw 5vw;
    margin-top: 1em;
    height: 100px;
}

.matchlist article figure {
    width: 100px;
}

.matchlist article figure img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.matchlist article figcaption {
    margin-left: 1em;
    width: 60%;
}

.matchlist div {
    /* display: inline-block; */
    width: 90vw;
    margin: 0vw 5vw;
    height: 2px;
    border-radius: 1px;
    background-color: grey;
    opacity: .3;
    margin-top: .4em;
}


/******************************
        404 pagina 
******************************/

.error404 section {
    width: 100%;
    text-align: center;
    margin-top: 5em;
}

.error404 section img {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.error404 section h1 {
    font-size: 2em;
    margin-top: 2em;
}

.error404 section h2 {
    font-size: 1.5rem;
    color: #878787;
    margin-bottom: 1.5em;
}

.error404 section p {
    margin: 0vh 15vw;
    margin-bottom: 3em;
}

.error404 section a {
    width: 70vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #EF6A52;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 1em 0em;
    border-radius: 5px;
}


/******************************
        empty- pagina 
******************************/

.emptymatchlist section {
    text-align: center;
}

.emptymatchlist section h1 {
    font-size: 2rem;
    margin-top: 10rem;
}

.emptymatchlist section p {
    margin: 0vh 15vw;
    margin: 3rem;
}

.emptymatchlist section a {
    width: 70vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #EF6A52;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 1rem 0rem;
    border-radius: 5px;
}