*,
html {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

body {
  background: url('../images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  background-color: none;
}

header h1 {
  font-size: 2em;
  text-align: center;
  margin: 0.5em;
  color: #4e50b8;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background-color: white;
}

footer nav ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

footer nav ul li {
  list-style-type: none;
}

footer nav ul li a img {
  width: 30px;
  height: auto;
}

/******************************************************************************
                                Home page
*******************************************************************************/

/** Main **/
.home {
  overflow: hidden;
}

.home .emptyMessage {
  padding: 0em 5em;
  height: 73vh;
  width: 100vw;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.home .clicked {
  text-align: center;
  padding: 0em 0em 13em 0em;
}

.home main ul {
  /* margin: 0vh 5vw; */
  margin: 0;
  display: flex;
  justify-content: center;
}

.home main ul .card {
  background-color: #ebebf9;
  border-radius: 10px;
  border: 1px solid #4e50b8;
  width: 90vw;
  height: 70vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0%;
  right: 0%;
  justify-content: center;
  list-style-type: none;
  transition: 1.2s ease-out;
}

.home main ul .SwipeAnimationRight {
  left: 300vw;
  margin-top: -30vh;
  transform: rotate(90deg);
}

.home main ul .SwipeAnimationLeft {
  left: -200vw;
  margin-top: -30vh;
  transform: rotate(-90deg);
}

.home .card section {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.home section img {
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

.home section article {
  background-color: white;
  width: 95%;
  margin: 0% 2.5% 2.5% 2.5%;
  position: absolute;
  bottom: 0;
  min-width: top;
  padding: 1em;
  border-radius: 10px;
}

.home section article h2 {
  font-size: 24px;
}

.home section article h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.home section article form {
  display: flex;
  justify-content: space-between;
}

.home input[type='submit'] {
  text-decoration: none;
  padding: 0.3em 1.4em;
  background-color: #d4d4d4;
  border: none;
  border-radius: 7px;
  font-size: 24px;
}

.home section article form div {
  position: absolute;
  right: 0;
  top: 0.7em;
  padding: 0.3em 1em;
  color: white;
}

.home section article form div input[type='submit'] {
  padding: 0.4em 0.5em;
  font-size: 16px;
}

.home label:nth-of-type(2) input[type='submit'] {
  background-color: #eb4b71;
  color: white;
}

/******************************************************************************
                                Profile of users page
*******************************************************************************/

/** Main **/
.profile {
  margin: 0;
}

.profile p {
  padding: 0;
  height: 0;
  text-align: left;
}

.profile ul {
  position: absolute;
  z-index: 5;
  width: 90%;
  margin: 3em 1em 0em 1em;
  display: flex;
  justify-content: space-between;
}

.profile ul li {
  list-style-type: none;
}

.profile section:nth-of-type(1) {
  width: 100%;
}

.profile section:nth-of-type(1) img {
  width: 100vw;
  height: 50em;
  object-fit: cover;
  border-radius: 0;
  position: relative;
}

.profile section:nth-of-type(1) div {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 50em;
  width: 100vw;
  background-image: linear-gradient(to top, rgba(78, 80, 184, 1), rgba(78, 80, 184, 0.1));
}

.profile section:nth-of-type(1) div:nth-of-type(2) {
  position: absolute;
  z-index: 3;
  top: 50em;
  height: 11em;
  background-color: #4e50b8;
}

.profile section:nth-of-type(2) {
  width: 90%;
  margin: 0% 5%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  position: absolute;
  top: 30em;
  left: 0;
  z-index: 4;
}

.profile section:nth-of-type(2) article {
  width: 100%;
  padding: 1em;
}

.profile section:nth-of-type(2) article h2 {
  font-size: 1.5em;
}

.profile section:nth-of-type(2) article h3 {
  font-size: 1em;
  margin: 0.5em 0em 1.25em 0em;
}

.profile section:nth-of-type(2) article h4 {
  font-size: 1.25em;
  margin: 1em 0em 0.25em 0em;
}

.profile section:nth-of-type(2) article .images {
  display: flex;
}

.profile section:nth-of-type(2) article .images img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.profile section:nth-of-type(2) article div:nth-of-type(2) {
  height: 3em;
}

.profile section:nth-of-type(2) article div:nth-of-type(3) {
  height: 8em;
}

.profile section:nth-of-type(2) article form {
  margin: 0em 0em 2em 0em;
}

.profile section:nth-of-type(2) article form {
  display: flex;
  justify-content: space-between;
}

.profile input[type='submit'] {
  text-decoration: none;
  padding: 0.3em 1.9em;
  background-color: #d4d4d4;
  border: none;
  border-radius: 7px;
  font-size: 24px;
}

.profile section:nth-of-type(2) label:nth-of-type(2) input[type='submit'] {
  background-color: #eb4b71;
  color: white;
}

/******************************************************************************
                                Match page
*******************************************************************************/

.match {
  background-image: none;
  background-color: #4e50b8;
  width: 100vw;
  height: 100vh;
}

.match section:nth-of-type(1) {
  width: 80%;
  margin: 0% 10%;
  display: flex;
  height: 17em;
}

.match section:nth-of-type(1) img {
  width: 40%;
  max-width: 10em;
  height: auto;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.match section:nth-of-type(1) picture:nth-of-type(1) img {
  /* foto van match */
  transform: rotate(25deg);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  top: 3em;
  left: 0;
  right: 0;
  margin-right: 5em;
}

.match section:nth-of-type(1) picture:nth-of-type(2) img {
  /* foto van jou */
  transform: rotate(-25deg);
  top: 6em;
  width: 30%;
  max-width: 7em;
  height: auto;
  margin-left: 5em;
}

.match section:nth-of-type(1) img {
  /* foto van hart */
  transform: rotate(2deg);
  top: 11em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.match section:nth-of-type(2) {
  display: block;
  width: 100vw;
  text-align: center;
  margin-top: 6vh;
}

.match section h1 {
  font-size: 2em;
  color: white;
}

.match section h2 {
  color: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
  font-size: 1em;
  font-weight: 400;
}

.match section a {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #ef6a52;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 1em 0em;
  border-radius: 5px;
}

.match section a:nth-of-type(1) {
  margin-top: 5vh;
}

.match section a:nth-of-type(2) {
  margin-top: 1.25em;
  background-color: #8182c8;
}

/******************************************************************************
                                Match overview page
*******************************************************************************/

.matchlist header h1 {
  font-size: 2em;
  text-align: center;
  margin: 0.5em;
  color: #4e50b8;
}

.matchlist p {
  padding: 0;
  height: 1em;
  text-align: left;
  display: block;
}

.matchlist header {
  margin-bottom: 2em;
}

.matchlist main {
  height: 100%;
}

.matchlist main ul li {
  display: flex;
  width: 100vw;
}

.matchlist article {
  width: 100%;
  margin-top: -2px;
  height: 130px;
  padding: 5px 0px;
  border-top: 2px solid rgb(216, 216, 216);
  border-bottom: 2px solid rgb(216, 216, 216);
}

.matchlist li:last-of-type {
  margin-bottom: 5em;
}

.matchlist article figure {
  position: absolute;
  left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 100px;
  width: 100px;
}

.matchlist article figure img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.matchlist article figcaption {
  position: absolute;
  right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 60%;
}

.delete {
  width: 80px;
  height: 100%;
  background-color: #b00000;
  position: absolute;
  top: 0;
  right: 0;
}

.delete img {
  display: block;
  width: 30px;
  margin: 0 auto;
  margin-top: 2.8em;
}

/* .matchlist article div {
    height: 95%;
    width: 80px;
    background-color: #B00000;
    position: absolute;
    top: -.5em;
    right: -5vw;
    opacity: 1;
}

.matchlist div {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: grey;
    opacity: .3;
    margin-top: .4em;
} */

/******************************************************************************
                                Inlog page
*******************************************************************************/

.inlog form {
  margin-top: 10em;
  text-align: center;
}

.inlog form label {
  font-size: 1.3em;
  font-weight: 700;
}

.inlog form div {
  margin-top: 2em;
}

.inlog form input[type='submit'] {
  border-radius: 3px;
  border: none;
  color: white;
  width: 80vw;
  margin-top: 12em;
  padding: 1em 4em;
  background-color: #ef6a52;
}

/******************************************************************************
                                Profiel page
*******************************************************************************/

.profiel h2 {
  text-align: center;
  margin-top: 3em;
}

.profiel form {
  width: 80vw;
  margin: 0 auto;
  margin-top: 50vh;
}

.profiel form input[type='submit'] {
  border-radius: 3px;
  border: none;
  color: white;
  width: 80vw;
  margin-top: 2em;
  padding: 1em 4em;
  background-color: #ef6a52;
}
/******************************************************************************
                                Error404 page
*******************************************************************************/

.error404 section {
  width: 100%;
  text-align: center;
  margin-top: 5em;
}

.error404 section img {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.error404 section h1 {
  font-size: 2em;
  margin-top: 2em;
}

.error404 section h2 {
  font-size: 1.5rem;
  color: #878787;
  margin-bottom: 1.5em;
}

.error404 section p {
  margin: 0vh 15vw;
  margin-bottom: 3em;
}

.error404 section a {
  width: 70vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #ef6a52;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 1em 0em;
  border-radius: 5px;
}

/******************************************************************************
                                Animations using JS
*******************************************************************************/

@media all and (min-width: 500px) {
  /****************************************************
                        Home
  ****************************************************/
  .home main ul li {
    width: 70vw;
    margin: 0 auto;
  }
  .home input[type='submit'] {
    padding: 0.3em 2em;
  }
  .home p {
    padding: 0em 10em;
  }
  /****************************************************
                        Profile
  ****************************************************/
  .profile input[type='submit'] {
    padding: 0.3em 3em;
  }
}

@media all and (min-width: 768px) {
  /****************************************************
                        Home
  ****************************************************/
  .home main ul .card {
    width: 60%;
  }
  .home p {
    padding: 0em 15em;
  }
  .home section {
    width: 100%;
    height: 75vh;
    margin-left: 0;
  }
  .home section a {
    width: 100%;
  }
  .home section img {
    object-fit: cover;
    min-height: 100%;
    border-radius: 10px 0px 0px 10px;
    width: 40%;
  }
  .home section article {
    height: 100%;
    width: 60%;
    background-color: #ebebf9;
    margin: 0em;
    position: absolute;
    top: 0vh;
    right: 0vw;
    min-width: top;
    border-radius: 0px 20px 20px 0px;
    padding: 30vh 1em 0em 2em;
  }
  .home section article h2 {
    margin-bottom: 1em;
    font-size: 24px;
  }
  .home section article h3 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 3.5em;
  }
  .home section article form {
    margin: 0em 1em 0em 0em;
    display: block;
    text-align: center;
  }
  .home section article form input {
    margin: 0.2em 0em;
  }
  .home section article .like {
    padding: 0.3em 3.5em;
  }
  .home section article .dislike {
    padding: 0.3em 3.63em;
  }
  /****************************************************
                        Profile of user
  ****************************************************/
  .profile {
    height: 100vh;
  }
  .profile ul {
    position: absolute;
    z-index: 5;
    width: 50%;
    margin: 8% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    color: #b00000;
  }
  .profile ul li {
    list-style-type: none;
  }
  .profile ul li a svg {
    fill: black;
  }
  .profile section:nth-of-type(1) {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 99vh;
    width: 60vw;
  }
  .profile section:nth-of-type(1) img {
    width: 100%;
    height: 99vh;
    object-fit: cover;
  }
  .profile section:nth-of-type(1) div {
    visibility: hidden;
    height: 0em;
  }
  .profile section:nth-of-type(1) div:nth-of-type(2) {
    visibility: hidden;
    height: 0em;
  }
  .profile section:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    left: 60vw;
    width: 40vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }
  .profile section:nth-of-type(2) article {
    width: 90%;
    margin: 0 auto;
    margin-top: 15vh;
  }
  .profile section:nth-of-type(2) article h2 {
    font-size: 2em;
  }
  .profile section:nth-of-type(2) article h3 {
    font-size: 1em;
    font-weight: 400;
    margin: 0.5em 0em 1.25em 0em;
  }
  .profile section:nth-of-type(2) article h4 {
    font-size: 1.25em;
    margin: 0em 0em 0.25em 0em;
  }
  .profile section:nth-of-type(2) article p {
    margin: 1em 0em 0.25em 0em;
  }
  .profile section:nth-of-type(2) article div:nth-of-type(1) {
    display: flex;
  }
  .profile section:nth-of-type(2) article div:nth-of-type(1) img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  .profile section:nth-of-type(2) article div:nth-of-type(2) {
    margin-top: 1em;
    height: 6em;
  }
  .profile section:nth-of-type(2) article div:nth-of-type(3) {
    height: 9em;
  }
}

@media all and (min-width: 768px) {
  .match section:nth-of-type(1) picture:nth-of-type(1) img {
    margin-right: 30%;
  }

  .match section:nth-of-type(1) picture:nth-of-type(2) img {
    margin-left: 30%;
  }

  .match section a {
    width: 30vw;
  }
}

@media all and (min-width: 608px) {
  .error404 section img {
    width: 30%;
  }
  .error404 section a {
    width: 30vw;
  }
}

@media all and (min-width: 1208px) {
  .error404 section img {
    width: 20%;
  }
}
