extends layout

block content
    header

    main.error404
        section
            img(src="images/brokenheart.svg", alt="") 
            h1 No matches.
            h2 404 Error.
            p We can't find the page you're looking for.
            a(href="/") Back to Swiping