extends layout

block content
    header

    main.match
        section
            img(src="images/user1.jpg", alt="") 
            img(src="images/me.jpg", alt="") 
            img(src="images/matchheart.svg", alt="") 
        section
            h1 It's a match!
            h2 You and # {person} have liked each other.
            a(href="matchlist") Send Message
            a(href="/") Keep Swiping
