extends layout

block content
    header
        nav
            ul
                li
                    a(href="#")
                        img(src="images/settings.svg", alt="")
                li
                    a(href="/")
                        h1 Swiper
                li 
                    a(href="matchlist")
                        img(src="images/chats.svg", alt="")

    main.matchlist
        article
            figure
                img(src="images/user1round.png", alt="")
            figcaption
                h2 # {person}, {age}
                p You've got a match, lets talk!
        div
        article
            figure
                img(src="images/user2round.png", alt="")
            figcaption
                h2 # {person}, {age}
                p You've got a match, lets talk!
        div
        article
            figure
                img(src="images/user3round.png", alt="")
            figcaption
                h2 # {person}, {age}
                p You've got a match, lets talk!
        div