extends layout

block content
    header

    main.profile
        div
        div
        section
            a(href="/ ") 
                img(src="images/user1.jpg", alt="")
            section
                h2 # {person} , {age} 
                h3 # {work}
                article
                    img(src="images/user1.jpg", alt="")
                    img(src="images/user1.jpg", alt="")
                    img(src="images/user1.jpg", alt="")
                h4 Hobby's
                p Fitness, Traveling, Cooking
                h4 About
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio neque enim facilisi eu nunc in amet, vestibulum. Fames posuere at rhoncus neque ultricies ante senectus.
