<nav>
    <ul>
        <li>
            <a href="/"><img src="images/icons/home.svg" alt="home"></a>
        </li>
        <li>
            <a href="matchlist"><img src="images/icons/match-e.svg" alt="mathces"></a>
        </li>
        <li>
            <a href="#"><img src=" images/icons/profile-e.svg" alt="profile"></a>
        </li>
    </ul>
</nav>