<nav>
    <ul>
        <li>
            <a href="/"><img src="images/icons/home-e.svg" alt=""></a>
        </li>
        <li>
            <a href="matchlist"><img src="images/icons/match.svg" alt=""></a>
        </li>
        <li>
            <a href="profiel"><img src="images/icons/profile-e.svg" alt=""></a>
        </li>
    </ul>
</nav>