<form action="/swipe" method="POST">
    <fieldset>
        <p>
            <label for="name">Wie wil je zien?</label>
            <input type="text" name="name">
        </p>
        <p>
            <label for="age">Wat is haar leeftijd?</label>
            <input type="text" name="age">
        </p>
        <p>
            <button type="submit">
                Submit
            </button>
        </p>
    </fieldset>
</form>