<% for (let index = 0; index < matches.length; index++) { %>
    <h2>
        <%= matches[index].name%>,
            <%= matches[index].age%>
    </h2>
    <p>You've got a match, lets talk!</p>
    <% }%>