<nav>
    <ul>
        <li>
            <a href="#"><img src="images/settings.svg" alt=""></a>
        </li>
        <li>
            <a href="/">
                <h1>Swiper</h1>
            </a>
        </li>
        <li>
            <a href="matchlist"><img src="images/chats.svg" alt=""></a>
        </li>
    </ul>
</nav>